# Run the installer
install

# Use CDROM installation media
cdrom

# System language
lang es_ES.UTF-8

# Keyboard layouts
keyboard es

# Enable more hardware support
unsupported_hardware

# Network information
network  --onboot=on --device=eth0 --hostname=CentosCore

# System authorization information
#auth --enableshadow --passalgo=sha512

# Root password
rootpw centos

# Selinux in permissive mode (will be disabled by provisioners)
selinux --permissive

# System timezone
timezone America/Santiago

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda

# Run the text install
text

# Skip X config
skipx

# Only use /dev/vda
ignoredisk --only-use=vda

# Overwrite the MBR
zerombr

# Partition clearing information
clearpart --none --initlabel

# Disk partitioning information
part pv.305 --fstype="lvmpv" --ondisk=vda --size=98000
part /boot --fstype="ext4" --ondisk=vda --size=1024 --label=BOOT
volgroup VGsystem --pesize=4096 pv.305
logvol /var  --fstype="ext4" --size=14000 --name=LVvar --vgname=VGsystem
logvol /  --fstype="ext4" --size=10000 --label="ROOT" --name=LVroot --vgname=VGsystem
logvol /tmp  --fstype="ext4" --size=5000 --name=LVtmp --vgname=VGsystem
logvol /var/log  --fstype="ext4" --size=5000 --name=LVvarlog --vgname=VGsystem


# Do not run the Setup Agent on first boot
firstboot --disabled

# Accept the EULA
eula --agreed

# System services
services --disabled="chronyd" --enabled="sshd"

# Reboot the system when the install is complete
reboot

# Packages

%packages --ignoremissing --excludedocs

bind-utils
bzip2
deltarpm
gcc
git
initscripts
iputils
kernel-devel
kernel-headers
lsof
make
net-tools
nfs-utils
ntpdate
openssh-clients
openssh-server
perl
screen
selinux-policy-devel
strace
sudo
tcpdump
traceroute
unzip
vim-enhanced
wget
yum-utils
scap-security-guide
-fprintd-pam
-intltool
-prelink
-telnet

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware

%end

%addon org_fedora_oscap
  content-type = scap-security-guide
  profile = pci-dss
%end

%post
#Enable hyper-v daemons only if using hyper-v virtualization
if [ $(virt-what) == "hyperv" ]; then
    yum -y install hyperv-daemons cifs-utils
    systemctl enable hypervvssd
    systemctl enable hypervkvpd
fi

# Since we disable consistent network naming, we need to make sure the eth0
# configuration file is in place so it will come up.
# Delete other network configuration first because RHEL/C7 networking will not
# restart successfully if there are configuration files for devices that do not
# exist.
rm -f /etc/sysconfig/network-scripts/ifcfg-e*
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 << _EOF_
TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=dhcp
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_FAILURE_FATAL=no
IPV6_ADDR_GEN_MODE=stable-privacy
NAME=eth0
DEVICE=eth0
ONBOOT=yes
_EOF_
%end